* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  color: #202124;
}

#list-container {
  width: 33%;
  height: 100vh;
  overflow-y: auto;
}

#list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 8px;
  padding: 8px;
}

@media (max-width: 1200px) {
  #list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

#list article {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
}

#list article .name {
  font-size: 14px;
  font-weight: bold;
}

#list article .city {
  padding: 0px;
  font-size: 12px;
  color: #5f6368;
}

#map-container {
  height: 100vh;
  width: 67%;
  position: relative;
}

#map {
  width: 100%;
  height: 100%;
}